In [54]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [55]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\juanj\OneDrive\Documentos\GitHub\CD\Projeto 01

In [56]:
dados2015=pd.read_table("PNAD DOM2015\\DOM2015csv\\DOM2015.csv", encoding="windows-1252", sep=",")

In [57]:
dados2015.shape

(151189, 81)

In [58]:
# SEPARANDO OS DOMICILIOS POR REGIOES
dados2015.shape
dados2015.loc[(dados2015.UF>10)&(dados2015.UF<20),"REGIAO"] = "Norte"
dados2015.loc[(dados2015.UF>20)&(dados2015.UF<30),"REGIAO"] = "Nordeste"
dados2015.loc[(dados2015.UF>40)&(dados2015.UF<44),"REGIAO"] = "Sul"
dados2015.loc[(dados2015.UF>30)&(dados2015.UF<35),"REGIAO"] = "Sudeste"
dados2015.loc[(dados2015.UF>49)&(dados2015.UF<54),"REGIAO"] = "Centro-Oeste"
dados2015.head(5)

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992,REGIAO
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,800.0,191,110001,1,1.0,800.0,4.0,1.0,20161104,Norte
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104,Norte
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,1150.0,191,110001,1,1.0,1150.0,4.0,1.0,20161104,Norte
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,4760.0,191,110001,1,6.0,793.0,4.0,2.0,20161104,Norte
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,5800.0,191,110001,1,2.0,2900.0,6.0,2.0,20161104,Norte

In [59]:
#CRIANDO UM FILTRO PARA REGIÕES URBANAS E RURAIS

dados2015.loc[(dados2015.V4105>=1)&(dados2015.V4105<=3),"URBANIZACAO"] = "Urbana"
dados2015.loc[(dados2015.V4105>3)&(dados2015.V4105<=8),"URBANIZACAO"] = "Rural"

In [60]:
# CRIANDO UM FILTRO PARA RENDIMENTO DOMICILIAR

dados2015.loc[(dados2015.V4614>=1)&(dados2015.V4614<=500),"RENDA"] = "Até R$500"
dados2015.loc[(dados2015.V4614>500)&(dados2015.V4614<=1000),"RENDA"] = "Entre R$500 e R$1000"
dados2015.loc[(dados2015.V4614>1000)&(dados2015.V4614<=2000),"RENDA"] = "Entre R$1.000 e R$2.000"
dados2015.loc[(dados2015.V4614>2000)&(dados2015.V4614<=3000),"RENDA"] = "Entre R$2.000 e R$3.000"
dados2015.loc[(dados2015.V4614>3000)&(dados2015.V4614<=5000),"RENDA"] = "Entre R$3.000 e R$5.000"
dados2015.loc[(dados2015.V4614>5000)&(dados2015.V4614<=10000),"RENDA"] = "Entre R$5.000 e R$10.000"
dados2015.loc[(dados2015.V4614>10000),"RENDA"] = "Maior que R$10.000"

In [61]:
# CRIANDO UM FILTRO PARA RENDIMENTO DOMICILIAR EM SALARIOS MINIMOS

dados2015.loc[(dados2015.V4614>=1)&(dados2015.V4614<=(937*(1/2))),"SALARIOS MINIMOS"] = "1/2 salarios"
dados2015.loc[(dados2015.V4614>(937*(1/2)))&(dados2015.V4614<=937),"SALARIOS MINIMOS"] = "Entre 1/2 e 1 salario"
dados2015.loc[(dados2015.V4614>937)&(dados2015.V4614<=937*2),"SALARIOS MINIMOS"] = "Entre 1 e 2 salarios"
dados2015.loc[(dados2015.V4614>937*2)&(dados2015.V4614<=937*3),"SALARIOS MINIMOS"] = "Entre 2 e 3 salarios"
dados2015.loc[(dados2015.V4614>937*3)&(dados2015.V4614<=937*5),"SALARIOS MINIMOS"] = "Entre 3 e 5 salarios"
dados2015.loc[(dados2015.V4614>937*5)&(dados2015.V4614<=937*10),"SALARIOS MINIMOS"] = "Entre 5 e 10 salarios"
dados2015.loc[(dados2015.V4614>937*10),"SALARIOS MINIMOS"] = "Mais que 10 salarios"

In [62]:
# CRIANDO UM FILTRO PARA AS PESSOAS QUE TEM ACESSO A INTERNET NO PROPRIO DOMICILIO

dados2015.loc[(dados2015.V02322 == 2),"ACESSO A INTERNET"] = "Sim"
dados2015.loc[(dados2015.V02322 == 4),"ACESSO A INTERNET"] = "Nao"

In [63]:
dados2015.head(5)

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4620,V4621,V4622,V4624,V9992,REGIAO,URBANIZACAO,RENDA,SALARIOS MINIMOS,ACESSO A INTERNET
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,1.0,800.0,4.0,1.0,20161104,Norte,Urbana,Entre R$500 e R$1000,Entre 1/2 e 1 salario,Nao
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20161104,Norte,Urbana,NaN,NaN,NaN
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,1.0,1150.0,4.0,1.0,20161104,Norte,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Sim
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,6.0,793.0,4.0,2.0,20161104,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 5 e 10 salarios,Sim
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,2.0,2900.0,6.0,2.0,20161104,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Nao

In [64]:
# CRIANDO UM FILTRO PARA AS PESSOAS QUE TEM ACESSO A CELULAR NO PROPRIO DOMICILIO

dados2015.loc[(dados2015.V0220 == 2),"ACESSO A CELULAR"] = "Sim"
dados2015.loc[(dados2015.V0220 == 4),"ACESSO A CELULAR"] = "Nao"

In [70]:
dados2015["ACESSO A CELULAR"].value_counts()

Sim    107849
Nao      9752
Name: ACESSO A CELULAR, dtype: int64

In [66]:
dados_interesse = dados2015.loc[:, ["REGIAO","URBANIZACAO","RENDA","SALARIOS MINIMOS","ACESSO A INTERNET","ACESSO A CELULAR"]]

In [67]:
dados_interesse

,REGIAO,URBANIZACAO,RENDA,SALARIOS MINIMOS,ACESSO A INTERNET,ACESSO A CELULAR
0,Norte,Urbana,Entre R$500 e R$1000,Entre 1/2 e 1 salario,Nao,Sim
1,Norte,Urbana,NaN,NaN,NaN,NaN
2,Norte,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Sim,Sim
3,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 5 e 10 salarios,Sim,Sim
4,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Nao,Sim
5,Norte,Urbana,Entre R$1.000 e R$2.000,Entre 2 e 3 salarios,Sim,Nao
6,Norte,Urbana,Entre R$500 e R$1000,Entre 1/2 e 1 salario,Nao,Sim
7,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 3 e 5 salarios,Nao,Sim
8,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 3 e 5 salarios,Sim,Sim
9,Norte,Urbana,NaN,NaN,NaN,NaN
10,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Sim,Sim
11,Norte,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Sim,Sim
12,Norte,Urbana,NaN,NaN,NaN,NaN
13,Norte,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Sim,Sim
14,Norte,Urbana,NaN,NaN,NaN,NaN
15,Norte,Urbana,Entre R$1.000 e R$2.000,Entre 2 e 3 salarios,Sim,Sim
16,Norte,Urbana,Entre R$500 e R$1000,Entre 1/2 e 1 salario,Nao,Sim
17,Norte,Urbana,Entre R$2.000 e R$3.000,Entre 3 e 5 salarios,Sim,Sim
18,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Sim,Sim
19,Norte,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Sim,Sim
20,Norte,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Sim,Sim
21,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 3 e 5 salarios,Nao,Sim
22,Norte,Urbana,NaN,NaN,NaN,NaN
23,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Sim,Sim
24,Norte,Urbana,NaN,NaN,NaN,NaN
25,Norte,Urbana,NaN,NaN,NaN,NaN
26,Norte,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Nao,Sim
27,Norte,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
28,Norte,Urbana,Entre R$5.000 e R$10.000,Entre 5 e 10 salarios,Sim,Sim
29,Norte,Urbana,Entre R$3.000 e R$5.000,Entre 5 e 10 salarios,Sim,Sim
...,...,...,...,...,...,...
151159,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151160,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151161,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151162,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151163,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151164,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151165,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151166,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151167,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151168,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151169,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151170,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151171,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Sim,Sim
151172,Centro-Oeste,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Nao,Sim
151173,Centro-Oeste,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Sim,Sim
151174,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151175,Centro-Oeste,Urbana,Entre R$3.000 e R$5.000,Entre 3 e 5 salarios,Sim,Sim
151176,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151177,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151178,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151179,Centro-Oeste,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Nao,Sim
151180,Centro-Oeste,Urbana,Maior que R$10.000,Mais que 10 salarios,Nao,Sim
151181,Centro-Oeste,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Nao,Sim
151182,Centro-Oeste,Urbana,Entre R$3.000 e R$5.000,Entre 3 e 5 salarios,Sim,Sim
151183,Centro-Oeste,Urbana,NaN,NaN,NaN,NaN
151184,Centro-Oeste,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Nao,Sim
151185,Centro-Oeste,Urbana,Até R$500,Entre 1/2 e 1 salario,Nao,Sim
151186,Centro-Oeste,Urbana,Entre R$2.000 e R$3.000,Entre 2 e 3 salarios,Sim,Sim
151187,Centro-Oeste,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Nao,Sim
151188,Centro-Oeste,Urbana,Entre R$1.000 e R$2.000,Entre 1 e 2 salarios,Sim,Sim

In [68]:
dados_interesse.to_csv("filtrado.csv")

In [69]:
! explorer .